.base-btn {
    background-color: $btnColor;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    color: $mainTextColor;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
    &:hover {
        transition: 0.5s;
        color: $btnColor;
        background-color: white;
        cursor: pointer;
        box-shadow: 0px 0px 3px 0px white;
        
    }

}