.header-content {
    width: 100%;
    height: 100%;
    @include position(space-between);
    
}
.header-list {
    list-style: none;
    & > li {
        display: inline-block;
        }    
    }
.header-link{
    text-decoration: none;
    color: $colorText;
    margin-right: 10px;
    // &:last-child{
    //     margin-right: 0px;
    // }
}

.header{
    background-color: $headerColor;
    color: $colorText;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(5px);

}

.header-logo{
    text-decoration: none;
    color: $mainTextColor;
    background: linear-gradient( 45deg, blue,red );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19px;
}
.base-btn-a{
    text-decoration: none;
}