main{
    background-color: $mainColor;
    color: white;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-section{
    flex: 1 0 100vh;
    border: 1px solid yellow;
}

