main {
    background-color: $mainColor;
    color: $mainTextColor;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-section{
    flex: 1 0 100vh;
    padding-bottom: $basePadding;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

