.pop-up-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: $colorPopUpLayout;
    display: none;
}
.pop-up {
    width: 400px;
    height: 350px;
    border: 1px solid white;
    border-radius: $borderRadiusMain;
    background-color: $supportColor;
    position: relative;
}
.pop-up-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    @include position(center);
    color: white;
    text-align: center;
}

.pop-up__active{
    @include position(center)
}
.pop-up-exit{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
}