.section-welcome{
    background-image: url('../img/welcom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    backdrop-filter: blur(10px);
    flex: 1 0 100vh;
}
.section-content{
    height: 100%;
}
.welcome-content {
    @include position(center)
}
.welcome-content-title{
    text-align: center;
    text-shadow: 1px 1px 20px black ;
    // filter: drop-shadow(1px 1px 20px yellow);
}

