.price-content {
    &__title {
        text-align: center
    }
    &__subtitle {
        text-align: center
    }
    &__title, &__subtitle {
        margin-bottom: 20px
    }
}
.section-cards{
    @include position(start);
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}
.section-cards__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 32.33%;
    height: 450px;
    overflow: hidden;
    border-radius: $borderRadiusMain;
    // border: 1px solid white;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        transform: translateY(-15px) scale(1.02);
        box-shadow: 0px 0px 10px 3px white;
        position: relative;
        z-index: 2;
        
    }
}
.card-header{
    flex: 1 0 70%;
}
.card-header__img{
    width: 100%;
    height: 100%;
}
.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 30%;
    background-color: $supportColor;
    padding: 10px;
    overflow: hidden;
}
.card-footer__title{
    text-align: center;
}
.card-footer__btn{
   
}
.section-price{
    flex: 1 0 100vh;
}