.section-welcome{
    background-image: url('../img/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    backdrop-filter: blur(10px);
}