
@mixin position ($x) {
    display: flex;
    justify-content: $x;
    align-items: center;
}

$container:  1200px;

$supportColor : rgba(13, 17, 23, 1);
$mainColor: rgba(22, 27, 34, 1);
$btnColor: rgba(87, 96, 106, 1);
$colorText: rgba(255, 255, 255, 1)


