* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: 'Oswald';
  src: '/fonts/Oswald-VariableFont_wght.ttf';
  font-weight: 400; }

body {
  font-family: 'Oswald'; }

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.container {
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
  height: 100%; }

.header {
  width: 100%;
  height: 80px;
  flex-shrink: 0; }

.main {
  width: 100%;
  flex-grow: 1; }

.footer {
  width: 100%;
  height: 100px;
  flex-shrink: 0; }

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-list {
  list-style: none; }
  .header-list > li {
    display: inline-block; }

.header-link {
  text-decoration: none;
  color: white;
  margin-right: 10px; }

.header {
  background-color: rgba(13, 17, 23, 0.5);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(5px); }

.header-logo {
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 19px; }

main {
  background-color: #161b22;
  color: white; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.main-section {
  flex: 1 0 100vh;
  padding-bottom: 50px; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; }

footer {
  background-color: #0d1117;
  color: white; }

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section-welcome {
  background-image: url("../img/welcom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  backdrop-filter: blur(10px); }

.section-content {
  height: 100%; }

.welcome-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.welcome-content-title {
  text-align: center; }

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px 0; }

.about-content-right {
  flex: 1 0 50%; }

.about-content-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30%;
  padding-left: 30px; }
  .about-content-right h2 {
    text-transform: uppercase; }

.about-content-left {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px rgba(215, 218, 220, 0.35); }

.about-img {
  height: 768px;
  width: 475px; }

.price-content__title {
  text-align: center; }

.price-content__subtitle {
  text-align: center; }

.price-content__title, .price-content__subtitle {
  margin-bottom: 20px; }

.section-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px; }

.section-cards__card {
  display: flex;
  flex-direction: column;
  flex: 1 0 32.33%;
  height: 450px;
  overflow: hidden;
  border-radius: 5%;
  transition: 0.5s; }
  .section-cards__card:hover {
    transition: 0.5s;
    transform: translateY(-15px) scale(1.02);
    box-shadow: 0px 0px 10px 3px white;
    position: relative;
    z-index: 2; }

.card-header {
  flex: 1 0 70%; }

.card-header__img {
  width: 100%;
  height: 100%; }

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 30%;
  background-color: #0d1117;
  padding: 10px;
  overflow: hidden; }

.card-footer__title {
  text-align: center; }

.base-btn {
  background-color: #57606a;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s; }
  .base-btn:hover {
    transition: 0.5s;
    color: #57606a;
    background-color: white;
    box-shadow: 0px 0px 3px 0px white; }
